.MMM-EnphaseEnvoy img {
	width: 50px;
	height: 50px;
	display: inline;
}

.MMM-EnphaseEnvoy p {
	display: inline;
	font-size: 50px;
	margin: 0px 0px 0px 15px;
}

.MMM-EnphaseEnvoy .header { color: #FDB813; }
 
.MMM-EnphaseEnvoy hr {
	border-color: #666;
}

.MMM-EnphaseEnvoy td {
	padding: 0px 5px 0px 0px;
}

.MMM-EnphaseEnvoy table tr:nth-child(odd) td{
}
	
.MMM-EnphaseEnvoy table tr:nth-child(even) td{
background-color: #303030;
}

.MMM-EnphaseEnvoy .title { color: #FDB813; }
